In [12]:
import pandas as pd

df = pd.read_csv('data/data_act_01.csv', sep=';')

### Configs ###
#### Display all rows
# pd.options.display.max_rows = None

#### Force to display a minimum number of rows  
# pd.set_option('display.min_rows', 10000)

#### Display the first n values
# df.head(10)

### Filtering data 
# filter = df.AddressType == "Intersectioon"
# df[filter]

### Count null values
# df.isnull().sum()

### Show null values
# df.iloc[df[(df.isnull().sum(axis=1) >=2)].index]

### Duplicated values
# duplicates = df[df['CrimeId'].duplicated(False)]['CrimeId']
# duplicates

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
3775,160932590,Traffic Stop,2016-04-02T00:00:00,17:07,2016-04-02T17:07:00,ADV,24th St/capp St,San Francisco,CA,1,NaN,Intersectioon